<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="RegistUserMapper">
	
	<insert id="nomalInsert" parameterType="com.example.demo.user.vo.UserVO">
		<selectKey keyProperty="userNo" resultType="int" order="BEFORE">
        SELECT USERS_SEQ.NEXTVAL FROM dual
    	</selectKey>
		INSERT INTO USERS(USER_NO, LOGIN_ID, PASS_WD, EMAIL, ROLE, REG_DATE)
		VALUES(#{userNo}, #{loginId}, #{password}, #{email}, #{role}, SYSDATE)
	</insert>

	<insert id="nomalInsertUserPage" parameterType="com.example.demo.user.vo.UserVO">
		INSERT INTO MY_USER_PAGE(USER_NO, PROFILE_IMG, INTRODUCE, TEMPERATURE, NICKNAME)
		VALUES(#{userNo}, DEFAULT, DEFAULT, DEFAULT, #{nickname})
	</insert>
	
	
</mapper>