<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="RegistUserMapper">
	
	<insert id="nomalInsert" parameterType="com.example.demo.user.vo.UserVO">
		<selectKey keyProperty="userNo" resultType="int" order="BEFORE">
        SELECT USERS_SEQ.NEXTVAL FROM dual
    	</selectKey>
		insert into users(user_no, login_id, pass_wd, name, email, role, reg_date) 
		values(#{userNo},#{loginId},#{password},#{username},#{email},#{role},sysdate)
	</insert>
	
	<insert id="nomalInsertUserPage" parameterType="long">
			INSERT INTO MY_USER_PAGE(
			USER_NO,
			PROFILE_IMG,
			INTRODUCE,
			TEMPERATURE
		) VALUES(
		 	#{userNo},
		 	DEFAULT,
		 	DEFAULT,
		 	DEFAULT
		)
	</insert>
	
	
</mapper>